#doctor_container {
    display: none;
}
body {
    background-image: url("../../Main Pages/back.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }