#doctor_container,
#slot_container,
#payment_container,
#confirmation_container {
  display: none;
}
body {
  background-image: url("../../Main Pages/back.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
#_dateLabel {
  margin: 2rem;
}

i {
  position: absolute;
  bottom: 0.35em;
}

#nextpageButton {
  padding: 2em;
}
#notification {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 105;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #ff7800;
  padding: 5px;
}

#notification span.dismiss {
  padding: 0 5px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

#notification a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

._formContent {
  color: orange;
}

#_cardContainer,
#_cardContainer2 {
position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#_cardContainer {
    width:50%
}
